[submodule "refs/Ishiiruka"]
	path = refs/Ishiiruka
	url = git@github.com:kyhavlov/Ishiiruka.git
	branch = engine-dump-v12-probes
[submodule "refs/slippi-dolphin"]
	path = refs/slippi-dolphin
	url = git@github.com:vladfi1/dolphin.git
	branch = engine-dump
